certifi==2021.10.8
charset-normalizer==2.0.12
conda==4.3.16
Cython @ file:///buildstream/freedesktop-sdk/components/cython.bst
distlib==0.3.4
filelock==3.6.0
idna==3.3
Mako @ file:///buildstream/freedesktop-sdk/components/python3-mako.bst
Markdown @ file:///buildstream/freedesktop-sdk/components/python3-markdown.bst
MarkupSafe==2.1.1
meson @ file:///buildstream/freedesktop-sdk/components/meson.bst
pipenv==2022.3.28
platformdirs==2.5.1
pycosat==0.6.3
Pygments==2.11.2
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
six==1.16.0
urllib3==1.26.9
virtualenv==20.14.0
virtualenv-clone==0.5.7
